.content{
  font-weight: 400;
  font-size: 20px;

}
.content p {
    padding-top: 1.5rem;
}

.content h2{
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(142, 139, 139);
}
.content img{
    width: 100%;
}
.content ul {
    padding: 12px 0px 0px 20px;
    list-style-type: disc;

}
.content ul>li{
    padding: 10px 0px 10px 0px;
}

.content a{
    color: #f47922 ;

}